<div style="padding: 20px 0px 20px 0px;">
  <div class="contain" style="padding: 20px; text-align: start;">
    <h1 class="title" style="--duration: 0.8s">
      <span style="--delay: 0.1s; font-family: 'Nunito'; font-weight: 700; font-size: 22px;">Dalam menu ini</span>
      <span style="--delay: 0.3s; font-family: 'Nunito'; font-weight: 700; font-size: 22px;">
        Kami akan membantu untuk mengetahui <strong style="color: blue;"> perkembangan bayi anda
        </strong>
      </span>
    </h1>
  </div>

</div>