.mat-mdc-form-field {
  margin-top: 16px;
}


form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  margin-bottom: 1rem;
}

.wb {
  text-align: end;
}

.mat-mdc-form-field {
  width: 100%;
}

// :host ::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) {
//   background-color: white !important;
// }

// :host ::ng-deep .mat-stepper-vertical,
// .mat-stepper-horizontal {
//   background-color: white !important;
// }

.title span {
  --total: calc(var(--duration) + var(--delay));
  position: relative;
  display: block;
  color: transparent;
  overflow: hidden;
  animation: revealText 1s var(--total) forwards;
}

.title span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  background: rgb(6, 216, 192);
  animation: rollIn var(--duration) var(--delay) forwards,
    rollOut var(--duration) var(--total) forwards;
}

.title span:nth-child(2)::after {
  border-top: 3px solid #f7d217;
}

.bg-blue-700 {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

mat-hint {
    color: blue;
}

mat-hint {
    text-align: end;
}



@keyframes revealText {
  to {
    color: #000;
  }
}

@keyframes rollIn {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes rollOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(105%);
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 100% !important;
  }
}
@media (min-width: 640px) {
  .container {
    max-width: 100% !important;
  }
}
